/target
/cargo.lock
/old_code
Real_Estate_Sales_2001-2022_GL.csv
miniture_five_thou_dataset.csv
cords_split_only.csv
ct_heatmap.csv
flipper_candidates.csv
writeup.txt
one_thousand_datapoints_for_git.csv
small_dataset.csv